.container {
  margin: auto;
  padding: 10px;
  min-width: 500px;
  max-width: 1200px;
}

.cards {
  column-count: 3;
  column-gap: 10px;
}

.card {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.card > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

img {
  max-width: 100%;
  display: block;

}

.toolbar {
  display: flex;
  flex-direction: row;
}

button {
  font-size: 20px;
  background-color: white;
  color: grey;
  border: 2px solid grey;
  margin: 0 5px 5px 0;
  padding: 10px;
  transition-duration: 0.4s;
}


button:hover {
  background-color: grey; 
  color: white;
}